@import "theme/variables.scss";

.loginPage {
  h1 {
    margin-bottom: 15px;
  }

  p {
    color: gray;
  }

  ion-item {
    --padding-start: 0;
    --ripple-color: transparent;
    --border-color: transparent;
  }

  ion-button {
    width: 100%;
    font-size: 18px;
    box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0.3);
    border-radius: 28px;
  }

  .contentBottom {
    padding: 0 22px;
    max-width: 414px;
    margin: 0 auto;
  }

  .elcapLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 18px;
    z-index: 101;

    svg {
      height: 8rem;
      width: 10rem;
    }

    p {
      color: var(--ion-color-primary);
      font-weight: 700;
      margin: 0;
    }
  }

  .inputRow {
    padding: 18px 0;
  }

  .formGroup {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 100%;
  }

  .inputLabel {
    width: 100%;
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    pointer-events: none;
    color: var(--ion-color-primary);
  }

  .googleAuthError {
    display: flex;
    justify-content: space-between;
    background-color: var(--ion-color-warning);
    border-radius: 5px;
    p {
      color: $black;
      padding: 10px;
    }
    ion-icon {
      cursor: pointer;
    }
  }

  .formInput {
    width: 100%;
    border: 0;
    border-bottom: 2px solid $gray;
    outline: 0;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;

    &::placeholder {
      color: transparent;
    }

    &:placeholder-shown ~ .inputLabel {
      font-size: 1.3rem;
      cursor: text;
      top: 20px;
    }

    &:focus {
      padding-bottom: 6px;
      font-weight: 700;
      border-width: 3px;
      border-image: linear-gradient(to right, $primary, $secondary);
      border-image-slice: 1;

      ~ .inputLabel {
        position: absolute;
        top: 0;
        display: block;
        transition: 0.2s;
        font-size: 1rem;
        color: $primary;
        font-weight: 700;
      }
    }

    // Reset input
    &:required,
    &:invalid {
      box-shadow: none;
    }
  }

  .socialLogin {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;

    ion-button {
      width: 44%;

      svg {
        margin-right: 10px;
        float: left;
      }
      font-size: 13px;
    }
  }

  .accountHelp {
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
    }

    .forgotPassword {
      color: grey;

      &:hover {
        color: var(--ion-color-primary);
      }
    }

    .register {
      font-weight: 500;
    }
  }

  .stacked {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
  }

  .errorMsg {
    color: red;
    padding: 5px 0;
  }
}
