.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 18px;
}

.loader {
  max-width: 500px;
  width: 100%;
}

.title {
  color: var(--ion-color-primary);
  max-width: 500px;
  font-weight: 600;
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;

  @media screen and (min-width: 414px) {
    font-size: 2.85rem;
  }
}
