# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js
package-lock.json

# testing
react/coverage
reactreact/test-results/
reactreact/playwright-report/
reactreact/playwright/.cache/
react/e2e/screenshots

# production
/build

# secrets
.env
.env.development
.env.production

# misc
.DS_Store
.vscode
.idea
*.iml

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional eslint cache
.eslintcache
.vercel
/test-results/
/playwright-report/
/playwright/.cache/
playwright/e2e/screenshots
/test-report
