@import "theme/variables.scss";

.inputRow {
  padding: 16px 0;
}

.formGroup {
  position: relative;
  padding: 16px 0 0;
  margin-top: 8px;
  width: 100%;
}

.inputLabel {
  width: 100%;
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 16px;
  pointer-events: none;
  color: $primary;
}

.authError {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $warning;
  border-radius: 4px;
  padding: 8px;

  p {
    color: $black;
    margin: 0;
  }

  a {
    color: $black;
  }

  ion-icon {
    cursor: pointer;
    font-size: 24px;
  }
}

.formInput {
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  padding: 8px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .inputLabel {
    cursor: text;
    font-size: 20px;
    top: 20px;
  }

  &:focus {
    padding-bottom: 7px;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $sucess);
    border-image-slice: 1;

    ~ .inputLabel {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 16px;
      color: $primary;
      font-weight: 700;
    }
  }

  // Reset input
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.errorMsg {
  color: $red;
  padding: 4px 0;
}
