@import "@/theme/variables.scss";

ion-modal#multiselect-modal {
  --width: fit-content;
  --min-width: 270px;
  --height: fit-content;
}

.MultiSelect {
  width: 100%;
  margin-top: 1px;

  &:hover {
    cursor: pointer;
    background-color: rgb(241, 241, 241);
  }

  &__selectedValues {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    place-content: space-between;

    padding: 8px 0;
    width: 100%;

    &ArrowIcon {
      color: $gray;
      width: 14px;
      height: 14px;
    }
  }

  &__checkbox {
    margin-right: 10px;
  }

  &__modal {
    &ButtonsContainer {
      display: flex;
      justify-content: flex-end;
      padding: 8px 0;
      border-top: 0.5px solid $gray;
    }

    &TitleContainer {
      padding-left: 23px;
      padding-right: 23px;
      text-align: start;
      border-bottom: 0.5px solid $gray;
    }
  }
}
