@import "@/theme/variables.scss";

ion-modal#multiselect-modal {
  --width: fit-content;
  --min-width: 270px;
  --height: fit-content;

  ion-toolbar {
    border-bottom: 1px solid var(--ion-color-step-150, #d9d9d9);
  }
}

.MultiSelect {
  margin-top: 1px;

  &__selectedValues {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    place-content: space-between;

    padding: 8px 0;
    width: 100%;

    &ArrowIcon {
      color: $gray;
      width: 12px;
      height: 12px;
    }
  }

  &__checkbox {
    margin-right: 16px;
  }

  &__modal {
    &ButtonsContainer {
      display: flex;
      justify-content: flex-end;
      padding: 8px 0;
    }
  }
}
