.NavbarLogoutButton {
  &.ion-color-dark {
    --ion-color-base: #666 !important;
  }
}

.action-sheet-container {
  .action-sheet-confirm {
    color: var(--ion-color-danger);
  }

  .action-sheet-cancel {
    color: var(--ion-color-tertiary);
  }
}
