@import "theme/variables.scss";

.AuthPageTemplate {
  padding: 16px;
  max-width: 420px;
  margin: 0 auto;

  ion-text {
    color: $gray;
  }

  .SubmitButton {
    margin-top: 32px;

    ion-button {
      width: 100%;
    }
  }

  a {
    text-decoration: none;
    color: $primary;

    &:hover {
      color: $black;
    }

    &.secondary {
      color: $gray;
    }
  }

  &__title {
    color: $black;
  }
}
