@import "@/theme/variables.scss";

.AuthFormSelect {
  position: relative;
  padding: 16px 0 10px 0;
  margin-top: 8px;
  border-bottom: 2px solid $gray;
  width: 100%;

  select {
    background: transparent;
    width: 100%;
    border: none;
    cursor: pointer;
    margin-top: 6px;

    &:focus {
      outline: none;
    }
  }

  label {
    width: 100%;
    position: absolute;
    top: 24px;
    display: block;
    transition: 0.2s;
    font-size: 20px;
    pointer-events: none;
    color: $primary;
    top: 0px;
    font-size: 16px;
  }

  &__errorMsg {
    color: $red;
    padding: 4px 0;
  }
}
