@import "@/theme/variables.scss";

.FormUserDocfox {
  &__status {
    ion-icon {
      height: 4.8em;
      width: 4.8em;
    }

    &.success {
      ion-icon {
        color: $success;
      }
    }

    &.warning {
      ion-icon {
        color: $warning;
      }
    }

    &.danger {
      ion-icon {
        color: $danger;
      }
    }
  }

  &__dateTimeLabel {
    margin-left: 15px;
    font-size: 11px;
  }

  &__dateTimeButton {
    display: block;
    margin-bottom: 10px;
    border-bottom: 1px solid lighten($color: $gray, $amount: 25%);
    padding: 10px;
  }

  .react-datepicker {
    &__input-container {
      margin-left: 5px;
      padding: 10px;
      input {
        padding: 10px;
      }
    }
    &-popper {
      position: absolute;
      z-index: 2;
    }
  }
}
