.shop-page {
  ion-grid {
    --ion-grid-width-sm: 100%;
    --ion-grid-width-md: 100%;
    --ion-grid-width-lg: 100%;
    --ion-grid-width-xl: 1400px;
  }

  ion-card {
    height: calc(100% - 20px);

    img {
      width: 100%;
    }
  }
}
