/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

// Default to the Sass variables and use ionic theme variables when overiding ionic components

// Default Colors
$primary: #007854;
$secondary: #3dc2ff;
$tertiary: #5260ff;

$sucess: #2dd36f;
$warning: #ffc409;
$danger: #eb445a;

$dark: #222428;
$medium: #92949c;
$light: #f4f5f8;

$black: #000000;
$white: #fff;
$gray: #9b9b9b;
$red: #ff0000;

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #{$primary};
  --ion-color-primary-rgb: 0, 120, 84;
  --ion-color-primary-contrast: #{$white};
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #006a4a;
  --ion-color-primary-tint: #1a8665;

  /** secondary **/
  --ion-color-secondary: #{$secondary};
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #{$white};
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #{$tertiary};
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #{$white};
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #{$sucess};
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #{$white};
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #{$warning};
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #{$black};
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #{$danger};
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #{$white};
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #{$dark};
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #{$white};
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #{$medium};
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #{$white};
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #{$light};
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #{$black};
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
