.PageTemplate {
  &__notification--button {
    position: relative;

    ion-badge {
      position: absolute;
      left: -4px;
      top: 0;
      z-index: 10;
      --background: purple;
      --color: white;
    }
  }

  .hidden-md {
    @media screen and (max-width: 575px) {
      display: none;
    }
  }
}
