@import "theme/variables.scss";

.page {
  h1 {
    margin-bottom: 15px;
    text-align: center;
  }

  ol {
    padding-inline-start: 20px;
    font-style: italic;
    margin-top: 0;
  }

  p,
  ol {
    color: gray;
  }

  ion-item {
    --padding-start: 0;
    --ripple-color: transparent;
    --border-color: transparent;
  }

  ion-button {
    width: 99%;
    font-size: 18px;
    box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0.4);
    border-radius: 28px;
  }

  .contentBottom {
    padding: 0 22px;
    max-width: 414px;
    margin: 0 auto;
  }

  .accountHelp {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;

    a {
      text-decoration: none;
    }

    .forgotPassword {
      color: grey;

      &:hover {
        color: var(--ion-color-primary);
      }
    }

    .register {
      font-weight: 500;
    }
  }

  .stacked {
    display: flex;
    flex-direction: column;
    padding-bottom: 2em;
  }
}
