.accountPage {
  .profileCard {
    padding: 20px;

    h1 {
      color: #000;
    }
  }
}

@import "theme/variables.scss";

h1 {
  margin-bottom: 15px;
}

p {
  color: gray;
}

a {
  text-decoration: none;
  font-weight: 600;
}

ion-item {
  --padding-start: 0;
  --ripple-color: transparent;
  --border-color: transparent;
}

ion-checkbox {
  margin-top: 0;
  margin-inline-end: 22px;
}

ion-button {
  width: 100%;
  font-size: 18px;
  box-shadow: -1px 1px 20px 1px rgba(0, 0, 0, 0.4);
  border-radius: 28px;
}

.contentBottom {
  padding: 0 22px;
  max-width: 800px;
  margin: 0 auto;
}

.elcapLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 18px;
  z-index: 101;

  svg {
    height: 8rem;
    width: 10rem;
  }

  p {
    color: var(--ion-color-primary);
    font-weight: 700;
    margin: 0;
  }
}

.inputRow {
  padding: 18px 0;
}

.formGroup {
  position: relative;
  margin-top: 10px;
  width: 100%;
  padding: 1rem 0;
}

.inputLabel {
  width: 100%;
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  pointer-events: none;
  color: var(--ion-color-primary);
}

.formInput {
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .inputLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }

  &:focus {
    padding-bottom: 6px;
    font-weight: 700;
    border-width: 3px;
    border-image: linear-gradient(to right, $primary, $secondary);
    border-image-slice: 1;

    ~ .inputLabel {
      position: absolute;
      top: 0;
      display: block;
      transition: 0.2s;
      font-size: 1rem;
      color: $primary;
      font-weight: 700;
    }
  }

  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.accountHelp {
  display: flex;
  justify-content: center;

  a {
    text-decoration: none;
  }

  .register {
    font-weight: 500;
  }
}

.stacked {
  display: flex;
  flex-direction: column;
  padding-bottom: 2em;
}

.errorMsg {
  color: red;
  padding: 5px 0;
}
