.DashboardOverview {
  .spinner-circular {
    margin: 0 auto;
    display: block;
  }

  &__header {
    text-align: center;
  }

  &__details {
    ion-text {
      display: block;
      padding-inline-start: 16px;
    }
  }

  &__content--chart {
    height: 600px;
  }

  &__filters-wrapper {
    display: flex;

    > ion-item {
      flex: 0 0 50%;
    }
  }
}
